body {
  background-color: #2ecc71;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
}

.container {
  margin: 0 auto;
  width: 400px;
}

#cells {
  margin: 0 auto;
  width: 310px;
  height: 310px;
  padding: 0;
}

#cells > li {
  overflow: hidden;
  list-style: none;
  float: left;
  text-decoration: none;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  text-transform: uppercase;
  text-align: center;
}